
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

html{
	box-sizing: border-box;
}
*, *::after, *::before{
	box-sizing: inherit;
}

body { 
	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	position: relative;
}
/*BUTTON*/

.blue-button{
	width: 134px;
	height: 40px;
	background: #619393;
	color: #FEFEFE;
	transition-duration: .5s;

}
.flex-container{
	min-height: 100%;
}
.main{
	flex: 1 1 auto;
}


/*HEADER-------------------------------------------------------------*/

.wrapper{
	max-width: 1110px;
	margin: 0 auto;
}
.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #F7F7F7;
	z-index: 1;
}
.header__wrapper{
	min-height: 104px;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}
.header__logo{
	margin-right: 60px;
}

/*header__nav*/

.nav__list{
	display: flex;
}
.nav__list-item-link{
	text-decoration: none;
	line-height: 18px;
	color: #0F0D0D;
}
.nav__list-item{
	margin-right: 48px;
}
.nav__list-item-witharr{
	display: flex;
	align-items: flex-end;
	margin-right: 38px;
	position: relative;
}
.nav__list-item-witharr:last-child{
	margin-right: 60px;
}
.nav__list-item-link:hover, .nav__list-item-link:focus, .nav__list-item-link:active{
	opacity: 75%;
}
.nav__list-item-arrow{
	padding-left: 3px;
	max-height: 9px;
}

/*nav_menu*/

.nav__menu{
	position: absolute;

	background: #FEFEFE;
	border: 1px solid #0F0D0D;
	display: none;
}
.nav__menu.category-menu{
	left: 0;
	top: 0;
	width: 256px;
	
}
.nav__menu.contacts-menu{
	right: 0;
	top: 0;
	width: 257px;

}

.nav__list-item-witharr:hover .nav__menu{
	display: block;
	z-index: 3;
	
} 
.nav__menu-list.category-list{
	padding: 6px 0 0 15px;
}
.nav__menu-list.contacts-list{
	padding: 6px 15px 0 0;
	text-align: right;
}
.nav__menu-list-item{
	margin-bottom: 10px;
}
.nav__menu-list-item:last-child{
	margin-bottom: 17px;
}
.nav__menu-item-link{
	text-decoration: none;
	line-height: 18px;
	color: #0F0D0D;
}
.nav__menu-item-link:hover, .nav__menu-item-link:focus, .nav__menu-item-link:active{
	color:#619393;
}
.nav__menu-item-text{
	line-height: 18px;
	color: #0F0D0D;
}

/*header__options*/

.header__options{
	display: flex;
	position: relative;
	z-index: 2;
}
.header__options-item{
	margin-right: 16px;
	position: relative;
	z-index: 1;
}
.header__options-item:last-child{
	margin-right: 0px;
}
.header__options-item-link{
	background: none;
}
.header__options-item-link:hover, .header__options-item-link:focus, .header__options-item-link:active{
	opacity: 75%;
}
.options-activ{
	position: absolute;
	width: 844px;
	border-bottom: 3px solid #619393;
	left: -816px;
	top: 0;
	padding: 0 0 8px 8px;
	font-weight: 300;
	font-size: 16px;
	background: #F7F7F7;
	z-index: 0;

}
.header__options-search{
	display: none;
}
.login-form{
	position: absolute;
	width: 310px;
	height: 233px;
	padding: 9px 25px;
	right: 0px;
	top: 64px;
	background-color:  #FEFEFE;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	display: none;
	
}
.login-form__header-btn{
	padding: 2px 19px;
	font-weight: 300;
	background: none;
}
.login-form__header-btn.in{
	border-right: 1px solid #000000;
}
.login-form__header{
	margin-bottom: 11px;
}
.login-form__form label{
	font-weight: 300;
	color: #0F0D0D;
}
.login-form__input{
	width: 260px;
	height: 32px;
	margin-bottom: 11px;
	border: 0.5px solid #0F0D0D;
}
.login-form__input.password{
	margin-bottom: 21px;
}
.login-form__form span{
	display: flex;
	justify-content: space-between;
}
.login-form__forgot-password{
	background: none;
}
.login-form__body-btn{
	width: 111px;
	height: 32px;
	color: #FEFEFE;
	background-color:#619393;
	align-self: flex-end;
}
.login-form__form{
	display: flex;
	flex-direction: column;
}

/*MAIN-----------------------------------------------*/

/*INTRO*/

.intro{
	background-color: #F7F7F7;
	padding-top: 104px;
	max-width: 1920px;
	margin: 0 auto;	
	margin-bottom: 184px;
	max-height: 608px;
	z-index: 4;

}
.intro_flex-container{
	display: flex;
	position: relative;
	
}	

.intro-bg{
	width:785px;
	height: 504px;
	right: 730px;
	background-color: #D9D9D9;
	position: absolute;
	z-index: 0;

}

.intro_left__bar{
	margin-right: 237px;
	padding-top: 182px;
	z-index: 1;
}
.intro_left__bar-item{
	margin-bottom: 12px;
}
.intro_left__bar-item:last-child{
	margin-top: 0px;
}
.intro_left__arrow{
	padding-top: 397px;
	z-index: 1;

}
.intro_left__arrow-btn{
	background: none;
}
.intro_guitar{
	position: relative;
	top: -16px;
	z-index: 1;
	display: none;
	max-width: 202px;
}


/*right*/
.intro_right__arrow{
	padding-top: 451px;
	margin-right: 35px;
}
.intro_right__arrow-btn{
	background: none;
}

.intro_right-container{
	position: relative;
}
.intro_right__bigtitle{
	position: absolute;
	top: 52px;
	left: -10px;
}
.intro_right__bigtitle-text{
	font-weight: 600;
	font-size: 100px;
	line-height: 136px;
	color: #D9D9D9;
}
.intro_right__title{
	position: relative;
	padding-top: 135px;
	margin-bottom: 14px;
}
.intro_right__title-text{
	font-weight: 600;
	font-size: 34px;
	line-height: 40px;
}
.intro_right__subtitle{
	margin-bottom: 68px;
}
.intro_right__subtitle-text{
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
}
.intro_right__button{
	margin-bottom: 111px;
}

.blue-button:hover,.blue-button:focus,.blue-button:active{
	opacity: 75%;
}


/*CATEGORY----------------------------*/

.category__flex-container{
	display: flex;
	flex-wrap: nowrap;
	margin-bottom: 32px;
}
.category__flex-container:last-child{
	margin-bottom: 184px;
}

.category__card{
	width: 255px;
	height: 360px;
	background: #F7F7F7;
	margin-right: 30px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: flex-end;
	
}
.category__card a:last-child{
	margin-right: 0px;
}
.category__card:hover,.category__card:focus,.category__card:active{

	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.category__card-text{
	margin-top: 16px;
	font-size: 16px;
	line-height: 20px;
	color: #0F0D0D;
	padding-bottom: 13px;
	
}

/*NEWS-----------------------------------*/

.news__flex-container{
	display: flex;
	margin-bottom: 46px ;
}
.news__item{
	margin-right: 27px;
	max-width: 540px;
	max-height: 528px;
	display: flex;
	flex-direction: column;
}
.news__item:last-child{
	margin-right: 0px;
}
.news__item-img{
	margin-bottom: 29px;
	max-width: 100%;
	height: 296px;
}
.news__item-img:last-child{
	margin-bottom: 0px;
}
.news__item-title{
	font-weight: 600;
	font-size: 22px;
	line-height: 28px;
	margin-bottom: 13px;
	color: #0F0D0D;
	min-height: 56px;
}
.news__item-subtitle{
	font-size: 16px;
	line-height: 24px;
	color: #0F0D0D;
	min-height: 58px;
	margin-bottom: 36px;
	overflow: visible;
}
.news__flex-container:last-child{
	margin-bottom: 46px;
}
.read-more-text{
	font-size: 16px;
	line-height: 24px;
	color: #9D6A50;
}
.read-more-link{
	text-decoration: none;
	margin-right: 8px;
}
.read-more{
	display: flex;
	justify-content: center;
	align-items: center	;
}
.read-more.news{
	margin-bottom: 184px;
}
.read-more-link.arrow{
	height: 6px;

}
.read-more-link:hover, .read-more-link:focus, .read-more-link:active{
	opacity: 75%;
	position: relative;
	top: -2px;
}

/*AD------------------------------------------*/

.ad_flex-container{
	display: flex;
	position: relative;
	justify-content: space-between;
	margin-bottom: 304px;
}
.ad-container{
	position: relative;
	max-width: 475px;
}
.ad__bigtitle{

	position: absolute;
	top: 0;
	left: -10px;
	z-index: 0;
}
.ad__bigtitle-text{
	font-weight: 600;
	font-size: 100px;
	line-height: 136px;
	color: #D9D9D9;
}
.ad__title{
	position: relative;
	padding-top: 76px;
	margin-bottom: 14px;
	z-index: 1;
}
.ad__title-text{
	font-weight: 600;
	font-size: 34px;
	line-height: 40px;
}
.ad__subtitle{
	margin-bottom: 68px;
}
.ad__subtitle-text{
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
}
.ad__button{
	margin-bottom: 111px;
}
.ad__center{
	left: 265px;
	top: 306px;
	position: absolute;
	
}
.ad__center-img{
	border-radius: 50%;
}
.ad__right{
}
.ad__right-img{
	max-height: 544px;
	max-width: 635px;
}


/*FEEDBACK-------------------------------------------*/

.feedback_flex-container{
	display: flex;
	margin-bottom: 46px;
}
.feedback__card{
	background-color: #F7F7F7;
	max-width: 350px;
	min-height: 264px;
	margin-right: 30px;

}
.feedback__card:last-child{
	margin-right: 0px;
}
.feedback__card-padding{
	padding: 0px 0px 12px 10px;
}
.card-name{
	font-size: 16px;
	line-height: 24px;
	color: #0F0D0D;
	margin-bottom: 4px;
}
.card-stars{
	margin-bottom: 23px;
}
.card-text{
	font-weight: 300;
	font-size: 16px;
	line-height: 26px;
	color: #0F0D0D;
	height: 184px;
	padding: 23px 0px;
	overflow: hidden;

}
.card-date{
	font-weight: 300;
	font-size: 13px;
	line-height: 18px;
	color: #0F0D0D;
}
.read-more.feedback{
	margin-bottom: 70px;
}

/*FOOTER--------------------------------------------------*/

.footer_flex-container{
	border-top: 1px solid #D9D9D9;
	display: flex;
	align-items: center;
	height: 232px;
}
.footer__logo{
	margin-right: 87px;
}
.footer__card{
	min-height: 100%;
	margin-right: 142px;
}
.footer__card:last-child{
	margin-right: 0px;
}
.footer__card-title{
	padding-top: 29px;
	margin-bottom: 23px;
}
.footer__card-title-text{
	font-size: 18px;
	line-height: 25px;
}
.footer__card-componet{
	margin-bottom: 9px;
	line-height: 19px;
}
.footer__card-social a{
	margin-right: 17px;
}
.footer__card-component-text{
	text-decoration: none;
	color: #0F0D0D;
}
a:hover .footer__card-component-text, a:focus .footer__card-component-text, a:active .footer__card-component-text{
	color:#619393;
}
.active{
	display: block;
}
.arrow:hover img{
	position: relative;
	top: -2px;
}
  
